:root {
    --primary-color: rgb(212, 126, 14);
    --secondary-color: teal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
   font-family: Arial, Helvetica, sans-serif; 
}

header {
    background-image: url("../images/mountian-norway.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: rgba(14, 17, 212, .75);
    background-position: center;
}

header h1 {
    text-shadow: 0 0 10px rgba(241, 226, 4, 0.75);
    font-weight: bold;
    font-size: 30px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-shadow: 0 0 10px rgba(241, 226, 4, 0.973);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
}

header nav ul li a:hover {
    background: rgba(14, 17, 212, 0.75);
    color: #FFFF00;
    border-radius: 30px;
    text-shadow: none;
}
/* main footer display */
footer {
    display: flex;
    flex-wrap: wrap;
    background: var(--secondary-color);
    width: 100%;
    padding: 15px;
}
/* footer text color and shadowing */
footer h2 {
    align-self: center;
    color: var(--primary-color);
    margin: 0 auto;
    font-size: 20px;
    font-style: italic;
    text-shadow: 0 0 10px rgba(241, 226, 11, 0.863);
}
/* contact me section of footer */
.contact {
    align-items:flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact h2 {
    font-size: 25px;
    margin-top: 0;
    line-height: 1.5;
    color: var(--primary-color);
    text-shadow: none;
}

.contact p a {
    text-decoration: none;
    color: var(--primary-color);
}
/* padding for all sections*/
section {
    padding: 45px;
}

/* hero start */
.hero {
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 35%;
    background-image: url("../images/mountian-norway.jpg");
    background-size:cover;
    background-position: center;
    align-items:flex-start;
    padding: 500px;
}

.sidebar div {
    margin: 200px 0 0 0;
    align-self: flex-start;
    font-size: 30px;
    font-style: italic;
}

.sidebar div h3 {
    color: rgba(5, 164, 185, 1);
    text-shadow: -4px 22px 3px rgba(5, 164, 185, 0.5);
}
/* hero end */

/* about me section */
.bio {
    background-attachment: fixed;
    background-position: 35%;
    background-image: url("../images/mountian-norway.jpg");
    background-size:cover;
    background-position: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}
.bio h2 {
    align-self: center;
    font-size: 45px;
    color: var(--secondary-color);
    text-shadow: 5px 5px 5px rgba(0, 128, 128, 0.5);
}

.bio-img {
    margin: 0;
    display: flex;
    align-items: flex-start;
    align-content:flex-start; 
}

.bio-img img {
    align-self: flex-start;
    border: 3px rgb(0, 128, 128) solid;
    border-radius: 35px;
    box-shadow: 5px 5px 5px rgba(0, 128, 128, .5);
    height: 350px;
    width: 500px;
    flex-wrap: wrap;
    margin-top: 0;
    
}

.bio-main {
    color: #fff;
    align-self: flex-end;
}
/* about me end */

.works {
    background-attachment: fixed;
    background-position: 35%;
    background-image: url("../images/mountian-norway.jpg");
    background-size:cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.works h2 {
    text-shadow: 5px 5px 5px rgba(0, 128, 128, 0.5);
    align-self: center;
    font-size: 45px;
    color: var(--secondary-color);
}

.work-img {
    align-self: center;
    margin-top: 120px;
}

.work-img img {
    border: 3px solid var(--secondary-color);
    border-radius: 35px;
    box-shadow: 5px 5px 5px rgba(0, 128, 128, .5);
    height: 400px;
    width: 800px;
}
/* styles end */
